.city-list {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;
    margin-bottom: 120px;
    li {
        transition: 0.5s ease-in;
        &:hover { 
            transform: scale(1.06,1.06);
            filter: saturate(2);
        }
    }

    .city-card {
        width: 305px;
        height: 250px;
        border-radius: 18px;
        display: flex;
        background-size: cover;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        .city-card-name {
            font-family: "Teko", sans-serif;
            color: white;
            font-size: 3em;
            text-shadow: -1px 1px 20px rgba(39, 33, 33, 0.89);
        }
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 670px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
