.city-list {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;
    margin-bottom: 25px;
    padding: 50px 200px;

    .city-card  {
        width: 250px;
        height: 250px;
        border-radius: 18px;
        display: flex;
        background-size: cover;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        
        .city-card-name {
            font-family: 'Teko', sans-serif;
            color: white;
            font-size: 3em;


        }
    }
}





