.main-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: 0.4s ease-out;
    padding: 0px 50px;
    z-index: 100;
    height: 61px;
    .logo {
        color: #fff8f8;
        font-size: rem(30px);
        font-family: Alconica;
    }
    .header-nav {
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        >* {
            color: #fff8f8;
            display: flex;
            align-items: center;
            // font-size: rem(35px);  
        }
        .MuiSvgIcon-root {
            z-index: 102;
        }
        .welcome-user-nav {
            font-family: Ubuntu-medium;
            font-size: rem(22px);  
            color: #fff8f8;
            font-weight: bold;
            text-shadow: 2px 0 5px #000000c7;
        }
        .login-icon-nav {
            z-index: 102;
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
        .logout-icon-nav {
            z-index: 102;
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
        .order-icon-nav {
            z-index: 102;
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
    }
}

.main-header-regular {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: 0.4s ease-out;
    padding: 0px 80px;
    z-index: 100;
    background: #474747;
    height: 61px;

    .MuiSvgIcon-root {
        z-index: 102;
    }
    .logo {
        color: #fff8f8;
        font-size: rem(30px);
        font-family: Alconica;
    }
    .header-nav {
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        >* {
            color: #fff8f8;
            display: flex;
            align-items: center;
            // font-size: rem(35px);  
        }
        .welcome-user-nav {
            font-family: Ubuntu-medium;
            font-size: rem(21px);  
            color: #fff8f8;
            text-shadow: none 
        }
        .login-icon-nav {
            z-index: 102;
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
        .logout-icon-nav {
            z-index: 102;
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
        .order-icon-nav {
            z-index: 102;
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
    }
}