.main-footer {
    grid-area: footer;
    margin-top: 30px;
    border-top: $clr1 solid 3px;
    background-color: $clr1;
    height: 200px; 
    .logo {
        margin-top: 30px;
        color: $clr6;
        font-size: rem(30px);
        font-family: birly;
    }   
}