.main-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: 0.4s ease-out;
    padding: 0px 50px;
    z-index: 100;
    height: 4.7em;
    .logo {
        color: #fff8f8;
        font-size: rem(30px);
        font-family: Alconica;
    }
    .header-nav {
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        >* {
            color: #fff8f8;
            display: flex;
            align-items: center;
            // font-size: rem(35px);  
        }
        .welcome-user-nav {
            font-family: Ubuntu-medium;
            font-size: rem(28px);  
            color: #35eb33
        }
        .login-icon-nav {
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
        .logout-icon-nav {
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
        .order-icon-nav {
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
    }
}

.main-header-regular {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: 0.4s ease-out;
    padding: 0px 80px;
    z-index: 100;
    background: #636e72;
    box-shadow: #dcdcdc 0 2px 10px;
    height: 3.7em;


    .logo {
        color: #fff8f8;
        font-size: rem(30px);
        font-family: Alconica;
    }
    .header-nav {
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        >* {
            color: #fff8f8;
            display: flex;
            align-items: center;
            // font-size: rem(35px);  
        }
        .welcome-user-nav {
            font-family: Ubuntu-medium;
            font-size: rem(28px);  
            color: #35eb33
        }
        .login-icon-nav {
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
        .logout-icon-nav {
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
        .order-icon-nav {
            font-size: rem(33px);
            transition: 0.2s ease-in-out;
            &:hover {
                font-size: rem(35px);
            }
        }
    }
}
