.main-header {
    align-items: baseline;
    // border-bottom: 2px solid $clr1;
    background-color:$clr2;
    box-shadow: #dcdcdc 0 2px 10px;
    .logo {
        font-family: birly;
        font-size: rem(60px);
        color: $clr6;
        margin-left: 30px;
    }
    .navbar {
        margin-right: 20px;
        font-size: rem(20px);
        font-weight: bold;
        li {
            margin-right: 25px;
            a {
                color: $clr6;
                font-family: Segoe;
                font-weight: 100;
                &:hover {
                    color: $clr5;
                }
            }
        }
    }
}
