.product-card{
    width: 200px;
    height: 500px;
    border: 1px solid black;
    p, h1, h2, h3, a  {
        color: black;
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    }
    h1 {
        font-size: 20px;
    }
    img {
        height: 198px;
        width: 100%;
    }
}