.product-card {
    box-shadow: 0px 1px 6px -4px rgb(161, 159, 159);
    font-family: Merry;
    // font-family: Roboto;
    margin-inline-end: 10px;
    height: 500px;
    width: 300px;
    color: black;
    
    .product-card-img {
        height: 60%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-size: cover;
        
        .product-card-price {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: white;
            font-size: 1.5em;
            width: 80px;
            height: 30px;
        }
    } 
    .product-card-content {
        height: 40%;
        padding: 10px;
        
        .product-card-header {
            height: 50%;
            justify-content: space-between;
            .product-card-title {
                display: flex;
                justify-content: flex-start;
                width: 50%;
            }
        }

        .product-card-footer{
            justify-content: space-between;
            .product-card-tags {
                flex-direction: column;
                justify-content: flex-end;
            }
            .product-card-mini-host {
                flex-direction: column;
                align-items: center;
                .product-card-user-img {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    background-size: cover;
                }
            }
        }
    }

}
