.city-search-bar {
    // bottom: 60vh;
    bottom: 29vw;
    position: sticky;
    top: 1.3vh;
    z-index: 101;
    margin-top: 20px;
    z-index: 101;
    display: flex;
    width: 500px;
    left: 36vw;

    .ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
        color: rgba(50, 60, 96, 0.87);
        font-family: Ubuntu-medium;
        font-size: 1.2em;
    }

    .ui.selection {
        width: 30vw;
        background: #ffffff none;
        // left:50vw;
        border-radius: 4px 0 0 4px !important;
    }

    .ui.button {
        border-radius: 0 4px 4px 0;
    }

    .form-control {
        margin: 1px;
        min-width: 120px;
    }

    .selectEmpty {
        margin-top: 2px;
    }
}
.tag-search-bar {
    position: sticky;
    top: -24px;
    padding-bottom: 30px;
    padding-top: 30px;

    .ui.selection.dropdown {
        left: 44.7vw;
    }
}
