.city-search-bar {
    bottom: 57vh;
    position: sticky;
    top: 1.3vh;
    z-index: 101;
    margin-top: 300px;
    z-index: 101;
    display: flex;
    width: 550px;
    left: 34vw;
    opacity: 0.9;

    .ui.selection.dropdown > .dropdown.icon {
        top: 1.2em;
    }

    .ui.default.dropdown:not(.button) > .text,
    .ui.dropdown:not(.button) > .default.text {
        color: #8a8989;
        font-weight: bold;
        font-family: Ubuntu-medium;
        font-size: rem(19px);
        padding: 5px;
        letter-spacing: em(1.7px);
    }

    .ui.selection {
        width: 30vw;
        background: #be2424;
        // left:50vw;
        border-radius: 50px 0px 0px 50px !important;
        // .active
        i {
            top: 3em;
        }
        // .dropdown >.dropdown.icon {
        //     top: 3em;
        // }
    }
    .dropdown .menu > .item {
        color: #606060;
        // font-size: bold;
        font-family: Ubuntu-medium;
        font-size: rem(19px);
        padding: 5px;
        letter-spacing: em(1.7px);
    }
    .ui.selection.dropdown {
        background-color: rgba(255, 255, 255, 0.95);
    }
    .ui.active.selection.dropdown {
        border-radius: 50px 0 0 50px !important;
    }
    .ui.selection.active.dropdown {
        border: none;
    }
    .ui.button {
        // font-weight: bold;
        border-radius: 0px 50px 50px 0px;
        padding-right: em(30px);
        padding-left: em(20px);
        font-size: rem(22px);
        font-family: Ubuntu-medium;
        letter-spacing: em(1px);
    }
    .form-control {
        margin: 1px;
        min-width: 120px;
    }

    .ui.search.dropdown > .text {
        color: #606060;
        font-size: bold;
        font-family: Ubuntu-medium;
        font-size: rem(19px);
        padding: 5px;
        letter-spacing: em(1.7px);
    }

    .selectEmpty {
        margin-top: 2px;
    }
}
// .hero {
//     .city-search-bar {
//         transition: 4s ease-out;
//     }
// }

.main-header {
    .city-search-bar {
        animation: ease-in 0.8s slidein;
        left: 37vw;
        opacity: 1;
        position: absolute;
        margin-top: 3px;
        width: 400px;
        height: 36px;
        font-size: rem(10px);
        .ui.default.dropdown:not(.button) > .text,
        .ui.dropdown:not(.button) > .default.text {
            font-size: rem(16px);
            padding-left: 14px;
            color: #8b8681;
        }
        .ui.selection {
            border: 1px solid #da600e4d;
        }
        .ui.button {
            font-size: rem(16px);
            color: white;
            font-weight: bold;
            border: 1px solid #da600ed2;
            background-color: #f2711c;
            &:hover {
                border: 1px solid #da600ed2;
                background-color: #e66006;
            }
            //#ff5714
        }
    }
}
.tag-search-bar {
    margin-top: 30px;
    position: relative;
    top: -24px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;

    // .ui.selection.dropdown {
    //     left: 44.7vw;
    // }
}

.tag-search {
    justify-content: center;
}
