.city-search-bar {
    // bottom: 60vh;
    bottom: 29vw;
    position: sticky;
    top: 1.3vh;
    z-index: 101;
    margin-top: 20px;
    z-index: 101;
    display: flex;
    width: 400px;
    left: 36vw;

    .ui.default.dropdown:not(.button) > .text,
    .ui.dropdown:not(.button) > .default.text {
        color: rgba(37, 37, 37, 0.8);
        font-size: bold;
        font-family: Ubuntu-medium;
        font-size: 1.1m;
    }

    .ui.selection {
        width: 30vw;
        background: #ffffff none;
        // left:50vw;
        border-radius: 4px 0 0 4px !important;
    }

    .ui.button {
        border-radius: 0 4px 4px 0;
        padding-top: 0.5em;
        padding-right: 1.5em;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
        font-size: 0.9rem;
    }

    .form-control {
        margin: 1px;
        min-width: 120px;
    }

    .selectEmpty {
        margin-top: 2px;
    }
}
.tag-search-bar {
    position: sticky;
    top: -24px;
    padding-bottom: 30px;
    padding-top: 30px;

    .ui.selection.dropdown {
        left: 44.7vw;
    }
}
