.city-page {
    grid-template-columns: 1fr;
    grid-template-areas:
        "hero-city-page"
        "cities-container"
        "products-container";

    .hero {
        display: flex;
        height: 60vh;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        font-family: "Teko", sans-serif;
        color: white;
        font-size: 4em;
        text-shadow: -1px 1px 20px rgba(39,33,33,0.89);
    }
    .product-container-city {
        margin-left: 15px;
    }

    // @include for-narrow-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $mobile-breakpoint)
    //     minmax(20px, 1fr)
    // }

    // @include for-narrow-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $mobile-breakpoint)
    //     minmax(20px, 1fr)
    // }

    // @include for-normal-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $narrow-breakpoint)
    //     minmax(20px, 1fr)
    //     ;
    // }

    // @include for-wide-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $wide-breakpoint)
    //     minmax(20px, 1fr)
    //     ;
    // }
}
