.home-page-container {
    display: grid;

    grid-template-columns: 20px 1fr 20px;

    @include for-narrow-layout {
        grid-template-columns: 
        minmax(20px, 1fr)
        minmax(auto, $mobile-breakpoint)
        minmax(20px, 1fr)
    }
    
    @include for-narrow-layout {
        grid-template-columns: 
        minmax(20px, 1fr)
        minmax(auto, $mobile-breakpoint)
        minmax(20px, 1fr)     
    }

    @include for-normal-layout {
        grid-template-columns: 
        minmax(20px, 1fr)
        minmax(auto, $narrow-breakpoint)
        minmax(20px, 1fr)
        ;
    }

    @include for-wide-layout {
        grid-template-columns: 
        minmax(20px, 1fr)
        minmax(auto, $wide-breakpoint)
        minmax(20px, 1fr)
        ;
    }
}