.home-page {
    .hero {
        display: flex;
        height: 80vh;
        background-image: url("https://drive.google.com/uc?id=1l0S5NKKvAxPqBAHnlxs1LvgYXjdv1CcI");
        background-position: bottom;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        // justify-content: center;
        align-items: center;
        background-attachment: fixed;
    }

    h1 {
        font-family: Ubuntu-medium;
    }

    .products-container {
        margin-bottom: 170px;
    }

    .top-rated.products-container {
        grid-area: top-products;
    }
    .cities-container {
        grid-area: cities-container;
    }
    .top-chefs.products-container {
        grid-area: chef-products;
    }
    .top-workshops.products-container {
        grid-area: workshop-products;
    }
    .top-tours.products-container {
        grid-area: tour-products;
    }
    
    .content-container {
        
        display: grid;
        // grid-template-columns: 200px auto 200px;
        grid-template-columns: auto 1320px auto;
        grid-template-rows: auto;
        grid-template-areas:
            
            ". top-products ."
            ". cities-container ."
            ". chef-products ."
            ". workshop-products ."
            ". tour-products .";
       .see-more{
           padding: 0 12px;
           a {
               font-size: 16px;
           }
       }     
    }


    // @include for-narrow-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $mobile-breakpoint)
    //     minmax(20px, 1fr)
    // }

    // @include for-normal-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $narrow-breakpoint)
    //     minmax(20px, 1fr)
    //     ;
    // }

    // @include for-wide-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $wide-breakpoint)
    //     minmax(20px, 1fr)
    //     ;
    // }
}
