.product-page {
        
    display: grid;
    grid-template-columns: 300px 2fr 1fr 300px;
    grid-template-rows: auto;
    grid-template-areas:
    
    ". product-page-title product-page-edit ."
    ". product-page-imgs product-page-imgs ."
    ". product-page-content order-form ."
    ". product-page-reviews . .";
    
    .product-page-header {
        grid-area: product-page-header;
    }
    .product-page-edit {
        grid-area: product-page-edit;
    }
    .product-page-title {
        grid-area: product-page-title;
    }
    .product-page-img-container {
        grid-area: product-page-imgs;
        img {
            width: 250px
        }
    }
    .product-page-main {
        grid-area: product-page-main;
    }
    .product-page-content {
        grid-area: product-page-content;
    }
    .order-form {
        grid-area: order-form;
    }
    .product-page-reviews {
        grid-area: product-page-reviews;
    }
      
}