.background-container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    
    .signin-container {
        display: flex;
        align-items: center;
        background-color: #fffffff5;
        padding: 40px;
        height: 70vh;
        @include for-normal-layout {
            border-radius: 30px;
            box-shadow: 0px 0px 4px 1px #00000061;
        }

        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
        .MuiFormLabel-root.Mui-focused,
        .MuiCheckbox-colorPrimary.Mui-checked,
        .MuiCheckbox-colorSecondary.Mui-checked {
            border-color: rgb(72, 72, 72);
            color: rgb(72, 72, 72);
        }

        .MuiButton-containedPrimary {
            background-color: rgb(72, 72, 72);
            &:hover {
                background-color: darken(rgb(72, 72, 72), $amount: 20);
            }
        }
    }
}

.logo {
    color: #f2711c;
    font-size: 3.875rem;
    font-family: Alconica;
    text-align: center;
}
