.user-profile-container {
    padding-top: 60px;
    width: 88vw;
    margin: 0 auto;
    box-sizing: unset;
    min-height: 80vh;
    justify-content: center;
    margin-right: 160px;
    .profile-menu {
        width: 100%;
        max-width: 220px;;
    }
    .profile-main-content {
        padding-left: 20px
    }
    .messege-center-container {
        width: 100%;
        flex-grow: 1;
        // margin: 0 auto;
        // box-sizing: unset;
    }
    .user-orders-container {
        p {
            font-size: rem(27px);
        }
        .ui.secondary.pointing.menu {
            div {
                cursor: pointer;
            }
        }
}
}

