* {
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    color: $clr2;
    line-height: 1.5em;
    text-align: center;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto;
    line-height: 1.2em;
    margin: 0 0 rem(20px);
    color: darken($clr1, 36);
}

h1 {
    font-size: rem(70px);
}

p {
    margin: 0 0 rem(20px);
    max-width: 60ch;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit
}
button {
    & :focus {
        outline: none;
    }
    border: none;
}
.container {
    display: grid;
}

.fas.fa-star {
    cursor: pointer;
    font-size: 2em;
}
input[type="radio"] {
    display: none;
}


