@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: birly;
    src: url(../../fonts/Birly/Birly-0WDBv.otf)
}

@font-face {
    font-family: Segoe;
    src: url(../../fonts/Segoe/Segoe-UI.ttf);
}

@font-face {
    font-family: Teko;
    src: url(../../fonts/Teko/Teko-Bold.ttf)
}

@font-face {
    font-family: Merry;
    src: url(../../fonts/Merriweather/Merriweather-Regular.ttf)
}
@font-face {
    font-family: Merry-bold;
    src: url(../../fonts/Merriweather/Merriweather-Bold.ttf)
}
@font-face {
    font-family: Merry-Italic;
    src: url(../../fonts/Merriweather/Merriweather-Italic.ttf)
}
@font-face {
    font-family: Merry-BoldItalic;
    src: url(../../fonts/Merriweather/Merriweather-BoldItalic.ttf)
}

@font-face {
    font-family: Alconica;
    src: url(../../fonts/Alconica/Aclonica-Regular.ttf)
}

@font-face {
    font-family: Ubuntu-medium;
    src: url(../../fonts/Ubuntu/Ubuntu-Medium.ttf)
}