// Colors
$clr1: rgba(237, 167, 167, 0.5);;
$clr2: #fae359;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #b7b5b5;
$clr6: #fff;
$clr7: black;
$clr8: grey;

// Breakpoints
$narrow-breakpoint: 460px;
$normal-breakpoint: 720px;
$wide-breakpoint: 960px;